In [ ]:
'''
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
'''
mongoDB is the document database with scalability and flexibility that you want with quering with and indexing you need

#non-raltional database 
A non-relational database is a database that does not use the tabular schema of rows and columns found in
most traditional database systems.  Instead, non-relational databases use a storage model that is optimized 
for the specific requirements of the type of data being stored.

# use of mongoDB over SQL
NoSQL databases like MongoDB are a good choice when your data is document-centric and doesn't 
fit well into the schema of a relational database, when you need to accommodate massive scale, 
when you are rapidly prototyping, and a few other use cases.

In [ ]:
'''
Q2. State and Explain the features of MongoDB.
'''
1. Support and hoc queries

    In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing

    You can index any field in a document.

3. Replication

    MongoDB supports Master Slave replication.

    A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

4. Duplication of data

    MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case 
    of hardware failure.

5. Load balancing

    It has an automatic load balancing configuration because of data placed in shards.

6. Supports map reduce and aggregation tools.

7. Uses JavaScript instead of Procedures.

8. It is a schema-less database written in C++.

9. Provides high performance.

10. Stores files of any size easily without complicating your stack.

11. Easy to administer in the case of failures.

12. It also supports:
    JSON data model with dynamic schemas
    Auto-sharding for horizontal scalability
    Built in replication for high availability

In [8]:
'''
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
'''
import pymongo
client = pymongo.MongoClient("mongodb+srv://pratik07:pratik07@cluster0.tgxpgsh.mongodb.net/?retryWrites=true&w=majority")
db = client.test

db = client['banti']                     # name of the database 
create_collection = db['class details '] # name of the collection in the database 

data= {
    'class': 'second year IT',
    'course': 'data science master',
    'fee': 3500
}
create_collection.insert_one(data)

In [7]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 5.9 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 28.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [15]:
'''
Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.
'''

data1= {
    'class': 'second year IT',
    'course': 'data science master',
    'fee': 3500,
    'teacher':['sudanshu sir ' , 'krish sir ']
}
create_collection.insert_one(data1)

for i in create_collection.find():
    print(i)
    
create_collection.find_one()

{'_id': ObjectId('640162d3e0eefea0123bb7f0'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500}
{'_id': ObjectId('640163f7e0eefea0123bb7f1'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('64016418e0eefea0123bb7f2'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('64016433e0eefea0123bb7f3'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('6401643be0eefea0123bb7f4'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('6401643fe0eefea0123bb7f5'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('64016444e0eefea0123bb7f6'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('64016452e0eefea0123bb7f7'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}

{'_id': ObjectId('640162d3e0eefea0123bb7f0'),
 'class': 'second year IT',
 'course': 'data science master',
 'fee': 3500}

In [17]:
'''
Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.
'''
for i in create_collection.find():
    print(i)
    
create_collection.find_one()
    
# In mongoDB, the find() method is used to fetch a particular data from the table. 
#In other words, it is used to select data in a table. It is also used to return all events to the selected data.

{'_id': ObjectId('640162d3e0eefea0123bb7f0'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500}
{'_id': ObjectId('640163f7e0eefea0123bb7f1'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('64016418e0eefea0123bb7f2'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('64016433e0eefea0123bb7f3'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('6401643be0eefea0123bb7f4'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('6401643fe0eefea0123bb7f5'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('64016444e0eefea0123bb7f6'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}
{'_id': ObjectId('64016452e0eefea0123bb7f7'), 'class': 'second year IT', 'course': 'data science master', 'fee': 3500, 'teacher': ['sudanshu sir ', 'krish sir ']}

{'_id': ObjectId('640162d3e0eefea0123bb7f0'),
 'class': 'second year IT',
 'course': 'data science master',
 'fee': 3500}

In [ ]:
'''
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
'''
#The sort() method can be used to sort the metadata values for a calculated metadata field.

#db.student.find().sort({age:1})
create_collection.find().sort({fee:1})

In [26]:
'''
Q7. Explain why delete_one(), delete_many(), and drop() is used.
'''
#deleteOne() deletes the first document that matches the filter
db.create_collection.delete_one()

#
db.create_collection.delete_many()

#The drop() method returns true if the collection was dropped successfully, and false if the collection does not exist.
db.create_collection.drop()

AttributeError: 'function' object has no attribute 'delete_one'